.navbar-default.active {
	background-image: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);
}

/*.background-image-container {
    filter: invert(10%) sepia(83%) saturate(3755%) hue-rotate(289deg) brightness(50%) contrast(98%);
    color: #fff;
}
*/

.background-image-container {
	 background-image: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);
}

.footer-container {
	background-image: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: #6643b5;
}

.h2:after, h2:after {
    color: #6643b5;
}

.btn-primary {
    color: #6643b5;
    background-color: transparent;
    border-color: #6643b5;
}

.btn-primary:hover{background-color:#6643b5;color:#fff;border-color:#6643b5}